 body{

    background-color:#ebfaf6;
    font-family: 'Castoro', serif;
font-family: 'Old Standard TT', serif;
font-family: 'Source Serif 4', sans-serif;
 }
 
 button{
    background: red;
    padding: 20px;
    display: ;
} 

.header{
    color: white;
    height: 90vh;
    width: 207vh;
    
    background:linear-gradient(to right, rgba(3, 0, 10, 0.9), rgba(0, 0, 0, 0.5)), url(https://img.freepik.com/free-photo/top-view-arrangement-with-food-wooden-background_23-2148308806.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h-100{

        height:100%;
        width: 100%;
}

.btn1{
    border-radius: 10rem !important;
    padding: 1.25em 4.24rem !important;
    
}
.btn1:hover{
    background:rgb(197, 11, 11);
}

.btn2{
    border-radius: 10rem !important;
    padding: 0.15em 1.05rem !important;

}
.btn2:hover{
    background:rgb(148, 197, 14);
}

.message, .service{
    background-color: #293bb5;
background-image: linear-gradient(45deg, #293bb5 0%, #ccca9f 52%, #bb9718 90%);

}
.myicon{
    font-size: 60px;
}


.btn{
    border-radius: 10rem !important;
    padding: 1.25em 2.24rem !important;

}
.btn:hover{
    background:rgb(197, 11, 11);
}
